*.go text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
LICENSE text eol=lf
CODEOWNERS text eol=lf
CODE_OF_CONDUCT.md text eol=lf
CONTRIBUTING.md text eol=lf
SECURITY.md text eol=lf
go.mod text eol=lf
go.sum text eol=lf
.gitignore text eol=lf
.goreleaser.yaml text eol=lf
